/* styles.css */

/* Reset some default styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

/* Center the dropdown and charts */
div {
  margin: 20px;
}

/* Style the dropdown */
#category-select {
  padding: 10px;
  font-size: 16px;
}

/* Style the bar chart */
#bar-chart {
  margin-top: 20px;
}

/* Style the radar chart container */
#radar-chart {
  display: flex; /* Use flexbox to arrange radar charts */
  flex-wrap: wrap; /* Allow wrapping to the next line */
  justify-content: center; /* Center the radar charts */
  margin-top: 40px;
}

/* Style individual radar charts */
.radar {
  margin: 10px; /* Add some space between radar charts */
}

/* Style the SVG elements */
svg {
  border: 1px solid #ccc;
  background-color: white;
}

/* Style the text in the charts */
text {
  font-family: Arial, sans-serif;
  fill: #333;
}

button {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

#filters {
  margin: 10px;
  padding: 5px;
  display: flex;
  justify-content: space-around; 
  width: 100%; 
}

.paths .path {
  z-index: 1; /* Líneas al fondo */
}

.axes .axis {
  z-index: 10; /* Ejes al frente */
}
